{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Hello Wilder !</h1>

	<section style="background-color: #F0F2F5;">
		<div class="container py-5">
			<div class="main-timeline-2">
				<div class="timeline-2 left-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(135).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">Préhistoire</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								Avant 3000 av JC</p>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(129).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">Antiquité</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								3000 av JC - 500 ap JC</p>
							<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(131).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">Moyen-Age</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								500 ap JC - 1500 ap JC</p>
							<p class="mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(125).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">
								Epoque Moderne</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								1500 ap JC - 1800 ap JC</p>
							<p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(144).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">Epoque Contemporaine</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								1800 ap JC - 1980 ap JC</p>
							<p class="mb-0">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(125).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">
								Epoque Actuelle</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								1980 ap JC - 2022 ap JC</p>
							<p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(144).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">Futur Dystopique</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								Après 2022 ap JC</p>
							<p class="mb-0">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus</p>
						</div>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(125).webp" class="card-img-top" alt="Responsive image">
						<div class="card-body p-4">
							<h4 class="fw-bold mb-4">
								Futur Science Fiction</h4>
							<p class="text-muted mb-4">
								<i class="far fa-clock" aria-hidden="true"></i>
								Après 2022 ap JC</p>
							<p class="mb-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
