{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row">
		<img src="/assets/images/favicon.png" class="col-2">
		<h1 class="col-8 text-center pt-5">Le Voyage dans le temps</h1>
		<img src="/assets/images/favicon.png" class="col-2">
	</div>
	<h2 class="p-5">
		Pendant un hackaton, le temps est une notion relative et certains aimeraient pouvoir le remonter...<br>
		Pour votre agrément en attendant que la machine à voyager dans le temps soit terminée, nous vous proposons de découvrir les
										 différentes époques que vous pourrez rallier.
	</h2>


	<button type="button" class="btn btn-dark btn-lg col-2 ml-1">
		<a href="/movie/add">
			Ajoutez une destination
		</a>
	</button>
	<button type="button" class="btn btn-dark btn-lg col-2 ml-1">
		<a href="/movie/random">
			Laissez vous surprendre
		</a>
	</button>

	<section style="background-color: #696969;">
		<div class="container py-5">
			<div class="main-timeline-2">
				<div class="timeline-2 left-2">
					<div class="card">
						<a href="/eras?era=préhistoire">
							<img src="/assets/images/prehistoire.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">Préhistoire</h4>
								<p class="mb-0">Avant 3000 av JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<a href="/eras?era=antiquité">
							<img src="/assets/images/antiquite.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">Antiquité</h4>
								<p class="mb-0">3000 av JC - 500 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<a href="/eras?era=moyen-âge">
							<img src="/assets/images/moyenage.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">Moyen-Age</h4>
								<p class="mb-0">500 ap JC - 1500 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<a href="/eras?era=époque moderne">
							<img src="/assets/images/moderne.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">
									Epoque Moderne</h4>
								<p class="mb-0">1500 ap JC - 1800 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<a href="/eras?era=époque contemporaine">
							<img src="/assets/images/contemporain.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">Epoque Contemporaine</h4>
								<p class="mb-0">1800 ap JC - 1980 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<a href="/eras?era=époque actuelle">
							<img src="/assets/images/actuel.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">
									Epoque Actuelle</h4>
								<p class="mb-0">1980 ap JC - 2022 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 left-2">
					<div class="card">
						<a href="/eras?era=futur dystopique">
							<img src="/assets/images/futurdysto.jpg" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">Futur Dystopique</h4>
								<p class="mb-0">Après 2022 ap JC</p>
							</div>
						</a>
					</div>
				</div>
				<div class="timeline-2 right-2">
					<div class="card">
						<a href="/eras?era=futur science-fiction">
							<img src="/assets/images/futur.png" class="card-img-top" alt="Responsive image">
							<div class="card-body p-4 bg-dark">
								<h4 class="fw-bold mb-4">
									Futur Science Fiction</h4>
								<p class="text-muted mb-4">
									<i class="far fa-clock" aria-hidden="true"></i>
								</p>
								<p class="mb-0">Après 2022 ap JC</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
